html,body {
  padding: 0;
  margin: 0;
  cursor: default !important;
  -webkit-app-region: no-drag;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
  -webkit-user-select: none;
}

#splashHolder{
  width: 100vw;
  height: 100vh;
  background: rgba(255,255,255,0.9);
}

#logoSection,
#infoSection{
  height: 50%;
  position: relative;
  font-size:14px;
}

#logoSection{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-bottom: none;
}

#infoSection{
  background: #ff3600;
  color: white;
  padding: 30px 20px;
  box-sizing: border-box;
}

#infoSection h2{
  margin: 0;
  font-size:16px;
}

#infoSection p{
  position: absolute;
  bottom: 30px;
  margin: 0;
  line-height: 18px;
}

#infoSection a{
  color: #999;
  text-decoration: none;
}


/* Keep this statement at the bottom of this file!!
 * see angularJS API for more info about this ngCloak.
 * http://docs.angularjs.org/api/ng.directive:ngCloak
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}